In [1]:
# Import Dependencies
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
primary_csv = "primary_merge.csv"

In [3]:
primary_df = pd.read_csv(primary_csv)

In [4]:
primary_df.head()

,Unnamed: 0_x,Actors,Awards,BoxOffice,Country,DVD,Director,Episode,Error,Genre,...,imdbRating,imdbVotes,seriesID,totalSeasons,Unnamed: 0_y,id,imdbid,rating,title,year
0,0,"Charlize Theron, Christina Ricci, Bruce Dern, ...",Won 1 Oscar. Another 29 wins & 25 nominations.,"$34,187,787","Germany, USA",01 Jun 2004,Patty Jenkins,NaN,NaN,"Biography, Crime, Drama, Thriller",...,7.3,"123,001",NaN,NaN,3591,271,340855,3,Monster,2003
1,1,"Devon Alan, Laura Harris, Zooey Deschanel, Mar...",1 nomination.,NaN,"Canada, USA",NaN,Marcel Sarmiento,NaN,NaN,NaN,...,6.6,31,NaN,NaN,3592,3137,339882,1,It&#39;s Better to Be Wanted for Murder Than N...,2003
2,2,"Halle Berry, Robert Downey Jr., Charles S. Dut...",3 wins & 7 nominations.,"$59,537,388","USA, France, Canada, Spain",23 Mar 2004,Mathieu Kassovitz,NaN,NaN,"Horror, Mystery, Thriller",...,5.8,"99,552",NaN,NaN,3593,5360,348836,3,Gothika,2003
3,3,"Sean Connery, Naseeruddin Shah, Peta Wilson, T...",12 nominations.,"$66,327,144","USA, Germany, Czech Republic, UK",16 Dec 2003,Stephen Norrington,NaN,NaN,"Action, Adventure, Fantasy, Sci-Fi",...,5.8,"156,033",NaN,NaN,3594,2097,311429,0,"League of Extraordinary Gentlemen, The",2003
4,4,"Pamela Anderson, Jenny McCarthy, Marny Eng, Ch...",2 wins & 4 nominations.,NaN,"USA, Canada",11 May 2004,David Zucker,NaN,NaN,Comedy,...,5.5,"126,494",NaN,NaN,3595,325,306047,3,Scary Movie 3,2003

In [5]:
primary_df['Single_Country'] = primary_df.Country.str.replace(r'\,.*', '')

In [6]:
primary_df.head()

,Unnamed: 0_x,Actors,Awards,BoxOffice,Country,DVD,Director,Episode,Error,Genre,...,imdbVotes,seriesID,totalSeasons,Unnamed: 0_y,id,imdbid,rating,title,year,Single_Country
0,0,"Charlize Theron, Christina Ricci, Bruce Dern, ...",Won 1 Oscar. Another 29 wins & 25 nominations.,"$34,187,787","Germany, USA",01 Jun 2004,Patty Jenkins,NaN,NaN,"Biography, Crime, Drama, Thriller",...,"123,001",NaN,NaN,3591,271,340855,3,Monster,2003,Germany
1,1,"Devon Alan, Laura Harris, Zooey Deschanel, Mar...",1 nomination.,NaN,"Canada, USA",NaN,Marcel Sarmiento,NaN,NaN,NaN,...,31,NaN,NaN,3592,3137,339882,1,It&#39;s Better to Be Wanted for Murder Than N...,2003,Canada
2,2,"Halle Berry, Robert Downey Jr., Charles S. Dut...",3 wins & 7 nominations.,"$59,537,388","USA, France, Canada, Spain",23 Mar 2004,Mathieu Kassovitz,NaN,NaN,"Horror, Mystery, Thriller",...,"99,552",NaN,NaN,3593,5360,348836,3,Gothika,2003,USA
3,3,"Sean Connery, Naseeruddin Shah, Peta Wilson, T...",12 nominations.,"$66,327,144","USA, Germany, Czech Republic, UK",16 Dec 2003,Stephen Norrington,NaN,NaN,"Action, Adventure, Fantasy, Sci-Fi",...,"156,033",NaN,NaN,3594,2097,311429,0,"League of Extraordinary Gentlemen, The",2003,USA
4,4,"Pamela Anderson, Jenny McCarthy, Marny Eng, Ch...",2 wins & 4 nominations.,NaN,"USA, Canada",11 May 2004,David Zucker,NaN,NaN,Comedy,...,"126,494",NaN,NaN,3595,325,306047,3,Scary Movie 3,2003,USA

In [7]:
#primary_df.set_index('Single_Country', drop=True)

In [8]:
countrygroups = primary_df.groupby(['Single_Country']).mean()
countrygroups

,Unnamed: 0_x,Episode,Error,Metascore,Response,Season,Unnamed: 0.1,imdbRating,totalSeasons,Unnamed: 0_y,id,imdbid,rating,year
Single_Country,,,,,,,,,,,,,,
Argentina,496.500000,NaN,NaN,69.857143,True,NaN,496.500000,6.931818,NaN,4454.318182,4089.000000,9.670365e+05,2.454545,2004.772727
Australia,449.370370,NaN,NaN,64.127660,True,NaN,449.370370,6.550617,NaN,4438.666667,4839.888889,1.146367e+06,2.395062,2001.691358
Austria,553.842105,NaN,NaN,74.833333,True,NaN,553.842105,7.105556,1.000000,5136.157895,4599.473684,1.758930e+06,2.052632,2007.421053
Bahamas,349.000000,NaN,NaN,28.000000,True,NaN,349.000000,5.950000,NaN,5734.000000,4000.500000,1.588724e+06,2.000000,2011.000000
Belgium,438.095238,NaN,NaN,65.384615,True,NaN,438.095238,6.961905,NaN,5011.428571,3982.285714,1.357759e+06,2.095238,2007.285714
Bosnia and Herzegovina,783.000000,NaN,NaN,71.000000,True,NaN,783.000000,7.300000,NaN,4374.000000,6038.000000,4.640290e+05,3.000000,2006.000000
Brazil,349.285714,NaN,NaN,70.600000,True,NaN,349.285714,6.992593,NaN,5541.964286,5467.607143,2.081827e+06,2.214286,2008.892857
Bulgaria,480.333333,NaN,NaN,37.000000,True,NaN,480.333333,7.233333,NaN,6164.333333,5272.666667,1.782986e+06,1.000000,2012.000000
Burkina Faso,130.000000,NaN,NaN,NaN,True,NaN,130.000000,6.900000,NaN,3721.000000,4109.000000,3.770940e+05,1.000000,2003.000000
Cameroon,391.000000,NaN,NaN,71.000000,True,NaN,391.000000,7.500000,NaN,3982.000000,2458.000000,4.743610e+05,3.000000,2005.000000
Canada,442.986301,6.400000,NaN,58.042373,True,1.800000,442.986301,6.414286,2.250000,4779.223744,4378.940639,1.406489e+06,2.337900,2005.164384
Chile,284.400000,NaN,NaN,74.571429,True,NaN,284.400000,6.770000,NaN,5758.900000,4595.000000,2.214256e+06,2.100000,2008.600000
China,505.840909,NaN,NaN,57.606061,True,NaN,505.840909,6.665909,1.000000,6196.568182,5519.204545,2.596719e+06,2.181818,2011.409091
Colombia,414.000000,NaN,NaN,87.000000,True,NaN,414.000000,7.433333,NaN,4902.000000,3619.333333,1.196282e+06,1.666667,2008.000000
Costa Rica,244.000000,NaN,NaN,NaN,True,NaN,244.000000,6.000000,NaN,3835.000000,4565.000000,4.394910e+05,3.000000,2004.000000
Croatia,207.500000,NaN,NaN,NaN,True,NaN,207.500000,6.900000,NaN,6938.000000,6845.000000,4.093652e+06,1.000000,2014.500000
Cuba,477.000000,NaN,NaN,NaN,True,NaN,477.000000,7.600000,NaN,6759.000000,8122.000000,3.595966e+06,3.000000,2014.000000
Czech Republic,405.800000,NaN,NaN,54.714286,True,NaN,405.800000,6.790000,1.000000,4983.500000,4954.300000,9.660330e+05,2.100000,2007.600000
Czechoslovakia,320.750000,NaN,NaN,NaN,True,NaN,320.750000,7.500000,NaN,994.250000,1919.500000,5.962250e+04,1.750000,1964.250000
Denmark,429.414634,NaN,NaN,62.531250,True,NaN,429.414634,7.039024,NaN,4479.682927,4163.609756,1.012645e+06,1.804878,2003.731707
Dominican Republic,761.500000,NaN,NaN,79.000000,True,NaN,761.500000,6.150000,NaN,7043.500000,7781.500000,3.610915e+06,3.000000,2014.000000
East Germany,101.000000,NaN,NaN,NaN,True,NaN,101.000000,6.500000,NaN,999.000000,1198.000000,5.813900e+04,2.000000,1964.000000
Ecuador,538.000000,NaN,NaN,NaN,True,NaN,538.000000,6.550000,NaN,5026.000000,8059.500000,1.473270e+06,3.000000,2008.500000
Egypt,425.333333,NaN,NaN,75.000000,True,NaN,425.333333,6.866667,NaN,6109.333333,4256.000000,3.258903e+06,2.666667,2012.000000
Estonia,94.000000,NaN,NaN,73.000000,True,NaN,94.000000,8.200000,NaN,6376.000000,7533.000000,2.991224e+06,0.000000,2013.000000
Federal Republic of Yugoslavia,522.500000,NaN,NaN,73.000000,True,NaN,522.500000,8.100000,NaN,2767.500000,4768.000000,1.168150e+05,2.000000,1996.500000
Finland,477.058824,NaN,NaN,60.400000,True,NaN,477.058824,6.705882,NaN,5281.470588,4728.235294,1.568624e+06,1.705882,2007.470588
France,402.102616,NaN,NaN,65.871245,True,NaN,402.102616,6.881489,NaN,3714.287726,4618.050302,1.176877e+06,1.937626,1987.881288
Germany,411.242775,NaN,NaN,58.365591,True,NaN,411.242775,6.733526,NaN,4722.635838,4260.832370,1.392368e+06,2.248555,2000.543353
Greece,508.000000,NaN,NaN,71.666667,True,NaN,508.000000,6.633333,NaN,5594.000000,2213.333333,1.643317e+06,3.000000,2010.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Paraguay,828.000000,NaN,NaN,79.000000,True,NaN,828.000000,7.000000,NaN,8007.000000,8128.000000,7.875464e+06,3.000000,2018.000000
Peru,637.666667,NaN,NaN,76.000000,True,NaN,637.666667,6.900000,NaN,5723.666667,5507.333333,2.584452e+06,2.666667,2010.333333
Philippines,629.500000,NaN,NaN,NaN,True,NaN,629.500000,5.850000,NaN,4219.500000,4577.000000,2.278721e+06,1.500000,1994.000000
Poland,539.846154,NaN,NaN,74.500000,True,NaN,539.846154,6.700000,NaN,4820.461538,4530.692308,1.807057e+06,2.076923,2003.461538
Portugal,520.250000,NaN,NaN,80.000000,True,NaN,520.250000,7.000000,NaN,4335.250000,4878.000000,9.221150e+05,3.000000,2004.250000
Romania,430.111111,NaN,NaN,77.714286,True,NaN,430.111111,7.000000,NaN,5117.222222,5068.666667,1.782840e+06,1.888889,2005.555556
Russia,469.428571,NaN,NaN,68.125000,True,NaN,469.428571,6.550000,NaN,5918.500000,5092.214286,2.311243e+06,1.642857,2011.285714
Saudi Arabia,125.000000,NaN,NaN,81.000000,True,NaN,125.000000,7.500000,NaN,6407.000000,4304.000000,2.258858e+06,3.000000,2013.000000
Senegal,135.000000,NaN,NaN,72.000000,True,NaN,135.000000,7.500000,NaN,1033.000000,6897.000000,6.075800e+04,3.000000,1966.000000
Serbia,625.250000,NaN,NaN,54.000000,True,NaN,625.250000,6.833333,NaN,5786.000000,4285.250000,1.890600e+06,3.000000,2011.000000
Singapore,881.000000,NaN,NaN,NaN,True,NaN,881.000000,8.000000,NaN,7163.000000,6775.000000,4.691166e+06,3.000000,2015.000000
Slovakia,196.000000,NaN,NaN,NaN,True,NaN,196.000000,7.400000,NaN,4684.000000,6893.000000,1.226291e+06,2.000000,2008.000000
South Africa,458.250000,NaN,NaN,58.800000,True,NaN,458.250000,6.550000,NaN,5506.750000,4336.125000,1.563470e+06,2.250000,2008.625000
South Korea,395.238095,NaN,NaN,72.217391,True,NaN,395.238095,7.223810,NaN,4968.619048,4533.500000,1.779672e+06,2.380952,2007.261905
Soviet Union,418.500000,NaN,NaN,90.000000,True,NaN,418.500000,8.172222,NaN,1116.944444,2652.555556,6.219689e+04,1.388889,1965.444444
Spain,458.457746,NaN,NaN,65.791667,True,NaN,458.457746,6.685816,1.000000,4339.584507,5406.795775,1.210535e+06,2.225352,2000.816901
Sweden,445.500000,NaN,NaN,74.000000,True,NaN,445.500000,7.210938,1.000000,3769.312500,4690.546875,1.181160e+06,2.109375,1991.812500
Switzerland,465.500000,NaN,NaN,66.428571,True,NaN,465.500000,6.850000,NaN,5311.900000,5739.700000,2.171846e+06,2.000000,2005.900000
Taiwan,434.857143,NaN,NaN,87.500000,True,NaN,434.857143,6.700000,NaN,3769.285714,2087.571429,6.541090e+05,2.285714,2002.142857
Thailand,293.500000,NaN,NaN,71.400000,True,NaN,293.500000,7.016667,NaN,3884.500000,3196.833333,5.510513e+05,1.666667,2003.500000
The Democratic Republic Of Congo,748.000000,NaN,NaN,65.000000,True,NaN,748.000000,6.200000,NaN,5236.000000,2397.000000,1.723120e+06,3.000000,2010.000000
Turkey,575.375000,NaN,NaN,80.250000,True,NaN,575.375000,7.512500,NaN,5848.250000,3956.750000,2.702374e+06,1.875000,2011.250000
UK,438.053669,16.428571,NaN,63.666068,True,8.285714,438.053669,6.824312,1.666667,4006.709748,4361.381161,1.071109e+06,2.156627,1995.096386
USA,453.108018,7.357143,NaN,57.517146,True,3.214286,453.108018,6.552767,4.343750,3931.854721,4039.096713,9.977400e+05,2.180448,1994.711953
Ukraine,221.500000,NaN,NaN,NaN,True,NaN,221.500000,6.350000,NaN,7400.500000,7389.000000,5.019524e+06,2.000000,2015.500000
United Arab Emirates,539.000000,NaN,NaN,61.000000,True,NaN,539.000000,6.150000,NaN,7269.500000,6860.500000,3.612609e+06,3.000000,2015.500000
Venezuela,819.000000,NaN,NaN,73.000000,True,NaN,819.000000,7.700000,NaN,819.000000,3119.000000,5.137200e+04,3.000000,1959.000000
Vietnam,179.000000,NaN,NaN,NaN,True,NaN,179.000000,5.400000,NaN,6461.000000,5641.000000,2.531258e+06,0.000000,2013.000000
West Germany,494.640000,NaN,NaN,66.750000,True,NaN,494.640000,7.252000,1.000000,1500.400000,4022.520000,7.849224e+04,2.040000,1977.880000
Yugoslavia,510.000000,NaN,NaN,NaN,True,NaN,510.000000,6.500000,NaN,1408.000000,2271.500000,7.496100e+04,2.500000,1975.500000

In [9]:
sizecountrygroups = primary_df.groupby(['Single_Country']).size()
sizecountrygroups

Single_Country
Argentina                             22
Australia                             81
Austria                               19
Bahamas                                2
Belgium                               21
Bosnia and Herzegovina                 1
Brazil                                28
Bulgaria                               3
Burkina Faso                           1
Cameroon                               1
Canada                               219
Chile                                 10
China                                 44
Colombia                               3
Costa Rica                             1
Croatia                                2
Cuba                                   1
Czech Republic                        10
Czechoslovakia                         4
Denmark                               41
Dominican Republic                     2
East Germany                           1
Ecuador                                2
Egypt                                  3
Estonia                                1
Federal Republic of Yugoslavia         2
Finland                               17
France                               497
Germany                              173
Greece                                 3
                                    ...
Paraguay                               1
Peru                                   3
Philippines                            2
Poland                                13
Portugal                               4
Romania                                9
Russia                                14
Saudi Arabia                           1
Senegal                                1
Serbia                                 4
Singapore                              1
Slovakia                               1
South Africa                           8
South Korea                           42
Soviet Union                          18
Spain                                142
Sweden                                64
Switzerland                           10
Taiwan                                 7
Thailand                               6
The Democratic Republic Of Congo       1
Turkey                                 8
UK                                   913
USA                                 4777
Ukraine                                2
United Arab Emirates                   2
Venezuela                              1
Vietnam                                1
West Germany                          25
Yugoslavia                             2
Length: 83, dtype: int64

In [10]:
countrygroups['country_count'] = pd.Series(sizecountrygroups)
countrygroups

,Unnamed: 0_x,Episode,Error,Metascore,Response,Season,Unnamed: 0.1,imdbRating,totalSeasons,Unnamed: 0_y,id,imdbid,rating,year,country_count
Single_Country,,,,,,,,,,,,,,,
Argentina,496.500000,NaN,NaN,69.857143,True,NaN,496.500000,6.931818,NaN,4454.318182,4089.000000,9.670365e+05,2.454545,2004.772727,22
Australia,449.370370,NaN,NaN,64.127660,True,NaN,449.370370,6.550617,NaN,4438.666667,4839.888889,1.146367e+06,2.395062,2001.691358,81
Austria,553.842105,NaN,NaN,74.833333,True,NaN,553.842105,7.105556,1.000000,5136.157895,4599.473684,1.758930e+06,2.052632,2007.421053,19
Bahamas,349.000000,NaN,NaN,28.000000,True,NaN,349.000000,5.950000,NaN,5734.000000,4000.500000,1.588724e+06,2.000000,2011.000000,2
Belgium,438.095238,NaN,NaN,65.384615,True,NaN,438.095238,6.961905,NaN,5011.428571,3982.285714,1.357759e+06,2.095238,2007.285714,21
Bosnia and Herzegovina,783.000000,NaN,NaN,71.000000,True,NaN,783.000000,7.300000,NaN,4374.000000,6038.000000,4.640290e+05,3.000000,2006.000000,1
Brazil,349.285714,NaN,NaN,70.600000,True,NaN,349.285714,6.992593,NaN,5541.964286,5467.607143,2.081827e+06,2.214286,2008.892857,28
Bulgaria,480.333333,NaN,NaN,37.000000,True,NaN,480.333333,7.233333,NaN,6164.333333,5272.666667,1.782986e+06,1.000000,2012.000000,3
Burkina Faso,130.000000,NaN,NaN,NaN,True,NaN,130.000000,6.900000,NaN,3721.000000,4109.000000,3.770940e+05,1.000000,2003.000000,1
Cameroon,391.000000,NaN,NaN,71.000000,True,NaN,391.000000,7.500000,NaN,3982.000000,2458.000000,4.743610e+05,3.000000,2005.000000,1
Canada,442.986301,6.400000,NaN,58.042373,True,1.800000,442.986301,6.414286,2.250000,4779.223744,4378.940639,1.406489e+06,2.337900,2005.164384,219
Chile,284.400000,NaN,NaN,74.571429,True,NaN,284.400000,6.770000,NaN,5758.900000,4595.000000,2.214256e+06,2.100000,2008.600000,10
China,505.840909,NaN,NaN,57.606061,True,NaN,505.840909,6.665909,1.000000,6196.568182,5519.204545,2.596719e+06,2.181818,2011.409091,44
Colombia,414.000000,NaN,NaN,87.000000,True,NaN,414.000000,7.433333,NaN,4902.000000,3619.333333,1.196282e+06,1.666667,2008.000000,3
Costa Rica,244.000000,NaN,NaN,NaN,True,NaN,244.000000,6.000000,NaN,3835.000000,4565.000000,4.394910e+05,3.000000,2004.000000,1
Croatia,207.500000,NaN,NaN,NaN,True,NaN,207.500000,6.900000,NaN,6938.000000,6845.000000,4.093652e+06,1.000000,2014.500000,2
Cuba,477.000000,NaN,NaN,NaN,True,NaN,477.000000,7.600000,NaN,6759.000000,8122.000000,3.595966e+06,3.000000,2014.000000,1
Czech Republic,405.800000,NaN,NaN,54.714286,True,NaN,405.800000,6.790000,1.000000,4983.500000,4954.300000,9.660330e+05,2.100000,2007.600000,10
Czechoslovakia,320.750000,NaN,NaN,NaN,True,NaN,320.750000,7.500000,NaN,994.250000,1919.500000,5.962250e+04,1.750000,1964.250000,4
Denmark,429.414634,NaN,NaN,62.531250,True,NaN,429.414634,7.039024,NaN,4479.682927,4163.609756,1.012645e+06,1.804878,2003.731707,41
Dominican Republic,761.500000,NaN,NaN,79.000000,True,NaN,761.500000,6.150000,NaN,7043.500000,7781.500000,3.610915e+06,3.000000,2014.000000,2
East Germany,101.000000,NaN,NaN,NaN,True,NaN,101.000000,6.500000,NaN,999.000000,1198.000000,5.813900e+04,2.000000,1964.000000,1
Ecuador,538.000000,NaN,NaN,NaN,True,NaN,538.000000,6.550000,NaN,5026.000000,8059.500000,1.473270e+06,3.000000,2008.500000,2
Egypt,425.333333,NaN,NaN,75.000000,True,NaN,425.333333,6.866667,NaN,6109.333333,4256.000000,3.258903e+06,2.666667,2012.000000,3
Estonia,94.000000,NaN,NaN,73.000000,True,NaN,94.000000,8.200000,NaN,6376.000000,7533.000000,2.991224e+06,0.000000,2013.000000,1
Federal Republic of Yugoslavia,522.500000,NaN,NaN,73.000000,True,NaN,522.500000,8.100000,NaN,2767.500000,4768.000000,1.168150e+05,2.000000,1996.500000,2
Finland,477.058824,NaN,NaN,60.400000,True,NaN,477.058824,6.705882,NaN,5281.470588,4728.235294,1.568624e+06,1.705882,2007.470588,17
France,402.102616,NaN,NaN,65.871245,True,NaN,402.102616,6.881489,NaN,3714.287726,4618.050302,1.176877e+06,1.937626,1987.881288,497
Germany,411.242775,NaN,NaN,58.365591,True,NaN,411.242775,6.733526,NaN,4722.635838,4260.832370,1.392368e+06,2.248555,2000.543353,173
Greece,508.000000,NaN,NaN,71.666667,True,NaN,508.000000,6.633333,NaN,5594.000000,2213.333333,1.643317e+06,3.000000,2010.333333,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Paraguay,828.000000,NaN,NaN,79.000000,True,NaN,828.000000,7.000000,NaN,8007.000000,8128.000000,7.875464e+06,3.000000,2018.000000,1
Peru,637.666667,NaN,NaN,76.000000,True,NaN,637.666667,6.900000,NaN,5723.666667,5507.333333,2.584452e+06,2.666667,2010.333333,3
Philippines,629.500000,NaN,NaN,NaN,True,NaN,629.500000,5.850000,NaN,4219.500000,4577.000000,2.278721e+06,1.500000,1994.000000,2
Poland,539.846154,NaN,NaN,74.500000,True,NaN,539.846154,6.700000,NaN,4820.461538,4530.692308,1.807057e+06,2.076923,2003.461538,13
Portugal,520.250000,NaN,NaN,80.000000,True,NaN,520.250000,7.000000,NaN,4335.250000,4878.000000,9.221150e+05,3.000000,2004.250000,4
Romania,430.111111,NaN,NaN,77.714286,True,NaN,430.111111,7.000000,NaN,5117.222222,5068.666667,1.782840e+06,1.888889,2005.555556,9
Russia,469.428571,NaN,NaN,68.125000,True,NaN,469.428571,6.550000,NaN,5918.500000,5092.214286,2.311243e+06,1.642857,2011.285714,14
Saudi Arabia,125.000000,NaN,NaN,81.000000,True,NaN,125.000000,7.500000,NaN,6407.000000,4304.000000,2.258858e+06,3.000000,2013.000000,1
Senegal,135.000000,NaN,NaN,72.000000,True,NaN,135.000000,7.500000,NaN,1033.000000,6897.000000,6.075800e+04,3.000000,1966.000000,1
Serbia,625.250000,NaN,NaN,54.000000,True,NaN,625.250000,6.833333,NaN,5786.000000,4285.250000,1.890600e+06,3.000000,2011.000000,4
Singapore,881.000000,NaN,NaN,NaN,True,NaN,881.000000,8.000000,NaN,7163.000000,6775.000000,4.691166e+06,3.000000,2015.000000,1
Slovakia,196.000000,NaN,NaN,NaN,True,NaN,196.000000,7.400000,NaN,4684.000000,6893.000000,1.226291e+06,2.000000,2008.000000,1
South Africa,458.250000,NaN,NaN,58.800000,True,NaN,458.250000,6.550000,NaN,5506.750000,4336.125000,1.563470e+06,2.250000,2008.625000,8
South Korea,395.238095,NaN,NaN,72.217391,True,NaN,395.238095,7.223810,NaN,4968.619048,4533.500000,1.779672e+06,2.380952,2007.261905,42
Soviet Union,418.500000,NaN,NaN,90.000000,True,NaN,418.500000,8.172222,NaN,1116.944444,2652.555556,6.219689e+04,1.388889,1965.444444,18
Spain,458.457746,NaN,NaN,65.791667,True,NaN,458.457746,6.685816,1.000000,4339.584507,5406.795775,1.210535e+06,2.225352,2000.816901,142
Sweden,445.500000,NaN,NaN,74.000000,True,NaN,445.500000,7.210938,1.000000,3769.312500,4690.546875,1.181160e+06,2.109375,1991.812500,64
Switzerland,465.500000,NaN,NaN,66.428571,True,NaN,465.500000,6.850000,NaN,5311.900000,5739.700000,2.171846e+06,2.000000,2005.900000,10
Taiwan,434.857143,NaN,NaN,87.500000,True,NaN,434.857143,6.700000,NaN,3769.285714,2087.571429,6.541090e+05,2.285714,2002.142857,7
Thailand,293.500000,NaN,NaN,71.400000,True,NaN,293.500000,7.016667,NaN,3884.500000,3196.833333,5.510513e+05,1.666667,2003.500000,6
The Democratic Republic Of Congo,748.000000,NaN,NaN,65.000000,True,NaN,748.000000,6.200000,NaN,5236.000000,2397.000000,1.723120e+06,3.000000,2010.000000,1
Turkey,575.375000,NaN,NaN,80.250000,True,NaN,575.375000,7.512500,NaN,5848.250000,3956.750000,2.702374e+06,1.875000,2011.250000,8
UK,438.053669,16.428571,NaN,63.666068,True,8.285714,438.053669,6.824312,1.666667,4006.709748,4361.381161,1.071109e+06,2.156627,1995.096386,913
USA,453.108018,7.357143,NaN,57.517146,True,3.214286,453.108018,6.552767,4.343750,3931.854721,4039.096713,9.977400e+05,2.180448,1994.711953,4777
Ukraine,221.500000,NaN,NaN,NaN,True,NaN,221.500000,6.350000,NaN,7400.500000,7389.000000,5.019524e+06,2.000000,2015.500000,2
United Arab Emirates,539.000000,NaN,NaN,61.000000,True,NaN,539.000000,6.150000,NaN,7269.500000,6860.500000,3.612609e+06,3.000000,2015.500000,2
Venezuela,819.000000,NaN,NaN,73.000000,True,NaN,819.000000,7.700000,NaN,819.000000,3119.000000,5.137200e+04,3.000000,1959.000000,1
Vietnam,179.000000,NaN,NaN,NaN,True,NaN,179.000000,5.400000,NaN,6461.000000,5641.000000,2.531258e+06,0.000000,2013.000000,1
West Germany,494.640000,NaN,NaN,66.750000,True,NaN,494.640000,7.252000,1.000000,1500.400000,4022.520000,7.849224e+04,2.040000,1977.880000,25
Yugoslavia,510.000000,NaN,NaN,NaN,True,NaN,510.000000,6.500000,NaN,1408.000000,2271.500000,7.496100e+04,2.500000,1975.500000,2

In [11]:
countrygroups.loc[countrygroups['country_count'] > 3]

,Unnamed: 0_x,Episode,Error,Metascore,Response,Season,Unnamed: 0.1,imdbRating,totalSeasons,Unnamed: 0_y,id,imdbid,rating,year,country_count
Single_Country,,,,,,,,,,,,,,,
Argentina,496.500000,NaN,NaN,69.857143,True,NaN,496.500000,6.931818,NaN,4454.318182,4089.000000,9.670365e+05,2.454545,2004.772727,22
Australia,449.370370,NaN,NaN,64.127660,True,NaN,449.370370,6.550617,NaN,4438.666667,4839.888889,1.146367e+06,2.395062,2001.691358,81
Austria,553.842105,NaN,NaN,74.833333,True,NaN,553.842105,7.105556,1.000000,5136.157895,4599.473684,1.758930e+06,2.052632,2007.421053,19
Belgium,438.095238,NaN,NaN,65.384615,True,NaN,438.095238,6.961905,NaN,5011.428571,3982.285714,1.357759e+06,2.095238,2007.285714,21
Brazil,349.285714,NaN,NaN,70.600000,True,NaN,349.285714,6.992593,NaN,5541.964286,5467.607143,2.081827e+06,2.214286,2008.892857,28
Canada,442.986301,6.400000,NaN,58.042373,True,1.800000,442.986301,6.414286,2.250000,4779.223744,4378.940639,1.406489e+06,2.337900,2005.164384,219
Chile,284.400000,NaN,NaN,74.571429,True,NaN,284.400000,6.770000,NaN,5758.900000,4595.000000,2.214256e+06,2.100000,2008.600000,10
China,505.840909,NaN,NaN,57.606061,True,NaN,505.840909,6.665909,1.000000,6196.568182,5519.204545,2.596719e+06,2.181818,2011.409091,44
Czech Republic,405.800000,NaN,NaN,54.714286,True,NaN,405.800000,6.790000,1.000000,4983.500000,4954.300000,9.660330e+05,2.100000,2007.600000,10
Czechoslovakia,320.750000,NaN,NaN,NaN,True,NaN,320.750000,7.500000,NaN,994.250000,1919.500000,5.962250e+04,1.750000,1964.250000,4
Denmark,429.414634,NaN,NaN,62.531250,True,NaN,429.414634,7.039024,NaN,4479.682927,4163.609756,1.012645e+06,1.804878,2003.731707,41
Finland,477.058824,NaN,NaN,60.400000,True,NaN,477.058824,6.705882,NaN,5281.470588,4728.235294,1.568624e+06,1.705882,2007.470588,17
France,402.102616,NaN,NaN,65.871245,True,NaN,402.102616,6.881489,NaN,3714.287726,4618.050302,1.176877e+06,1.937626,1987.881288,497
Germany,411.242775,NaN,NaN,58.365591,True,NaN,411.242775,6.733526,NaN,4722.635838,4260.832370,1.392368e+06,2.248555,2000.543353,173
Hong Kong,436.396226,NaN,NaN,63.695652,True,NaN,436.396226,6.786792,NaN,3840.773585,4445.188679,7.092826e+05,1.830189,2000.509434,53
Hungary,401.833333,NaN,NaN,70.400000,True,NaN,401.833333,7.096667,NaN,3723.133333,7388.700000,8.553872e+05,1.433333,1995.666667,30
Iceland,448.375000,NaN,NaN,73.600000,True,NaN,448.375000,6.512500,NaN,6842.500000,6800.625000,3.549284e+06,2.000000,2014.125000,8
India,571.105263,NaN,NaN,68.181818,True,NaN,571.105263,7.469643,NaN,5310.649123,5382.035088,2.197494e+06,2.385965,2006.105263,57
Iran,383.428571,NaN,NaN,82.454545,True,NaN,383.428571,7.476190,NaN,4187.857143,3738.666667,1.317332e+06,2.285714,2002.333333,21
Ireland,487.085106,NaN,NaN,70.606061,True,NaN,487.085106,6.815217,5.000000,5413.893617,5231.978723,1.914457e+06,2.063830,2007.914894,47
Israel,422.684211,NaN,NaN,73.000000,True,NaN,422.684211,6.868421,NaN,5288.368421,4255.000000,1.720926e+06,1.789474,2009.210526,19
Italy,444.487805,NaN,NaN,69.733333,True,NaN,444.487805,7.011382,NaN,2947.642276,5046.528455,7.767182e+05,1.991870,1986.195122,123
Japan,457.682594,NaN,NaN,69.276316,True,NaN,457.682594,7.017065,1.000000,3582.604096,4770.641638,1.059247e+06,2.126280,1994.058020,293
Mexico,513.774194,NaN,NaN,68.058824,True,NaN,513.774194,6.690323,NaN,4856.677419,5030.419355,1.619055e+06,2.064516,2003.451613,31
Netherlands,495.482759,NaN,NaN,56.250000,True,NaN,495.482759,6.672414,NaN,4240.620690,4807.137931,1.186419e+06,1.724138,2000.965517,29
New Zealand,474.600000,NaN,NaN,69.944444,True,NaN,474.600000,7.000000,NaN,4513.800000,4100.300000,1.313687e+06,1.766667,2003.900000,30
Norway,435.818182,NaN,NaN,68.153846,True,NaN,435.818182,6.740909,NaN,6024.681818,5014.136364,2.356357e+06,1.954545,2011.681818,22
Poland,539.846154,NaN,NaN,74.500000,True,NaN,539.846154,6.700000,NaN,4820.461538,4530.692308,1.807057e+06,2.076923,2003.461538,13
Portugal,520.250000,NaN,NaN,80.000000,True,NaN,520.250000,7.000000,NaN,4335.250000,4878.000000,9.221150e+05,3.000000,2004.250000,4
Romania,430.111111,NaN,NaN,77.714286,True,NaN,430.111111,7.000000,NaN,5117.222222,5068.666667,1.782840e+06,1.888889,2005.555556,9
Russia,469.428571,NaN,NaN,68.125000,True,NaN,469.428571,6.550000,NaN,5918.500000,5092.214286,2.311243e+06,1.642857,2011.285714,14
Serbia,625.250000,NaN,NaN,54.000000,True,NaN,625.250000,6.833333,NaN,5786.000000,4285.250000,1.890600e+06,3.000000,2011.000000,4
South Africa,458.250000,NaN,NaN,58.800000,True,NaN,458.250000,6.550000,NaN,5506.750000,4336.125000,1.563470e+06,2.250000,2008.625000,8
South Korea,395.238095,NaN,NaN,72.217391,True,NaN,395.238095,7.223810,NaN,4968.619048,4533.500000,1.779672e+06,2.380952,2007.261905,42
Soviet Union,418.500000,NaN,NaN,90.000000,True,NaN,418.500000,8.172222,NaN,1116.944444,2652.555556,6.219689e+04,1.388889,1965.444444,18
Spain,458.457746,NaN,NaN,65.791667,True,NaN,458.457746,6.685816,1.000000,4339.584507,5406.795775,1.210535e+06,2.225352,2000.816901,142
Sweden,445.500000,NaN,NaN,74.000000,True,NaN,445.500000,7.210938,1.000000,3769.312500,4690.546875,1.181160e+06,2.109375,1991.812500,64
Switzerland,465.500000,NaN,NaN,66.428571,True,NaN,465.500000,6.850000,NaN,5311.900000,5739.700000,2.171846e+06,2.000000,2005.900000,10
Taiwan,434.857143,NaN,NaN,87.500000,True,NaN,434.857143,6.700000,NaN,3769.285714,2087.571429,6.541090e+05,2.285714,2002.142857,7
Thailand,293.500000,NaN,NaN,71.400000,True,NaN,293.500000,7.016667,NaN,3884.500000,3196.833333,5.510513e+05,1.666667,2003.500000,6
Turkey,575.375000,NaN,NaN,80.250000,True,NaN,575.375000,7.512500,NaN,5848.250000,3956.750000,2.702374e+06,1.875000,2011.250000,8
UK,438.053669,16.428571,NaN,63.666068,True,8.285714,438.053669,6.824312,1.666667,4006.709748,4361.381161,1.071109e+06,2.156627,1995.096386,913
USA,453.108018,7.357143,NaN,57.517146,True,3.214286,453.108018,6.552767,4.343750,3931.854721,4039.096713,9.977400e+05,2.180448,1994.711953,4777
West Germany,494.640000,NaN,NaN,66.750000,True,NaN,494.640000,7.252000,1.000000,1500.400000,4022.520000,7.849224e+04,2.040000,1977.880000,25

In [12]:
sizecountrygroups

Single_Country
Argentina                             22
Australia                             81
Austria                               19
Bahamas                                2
Belgium                               21
Bosnia and Herzegovina                 1
Brazil                                28
Bulgaria                               3
Burkina Faso                           1
Cameroon                               1
Canada                               219
Chile                                 10
China                                 44
Colombia                               3
Costa Rica                             1
Croatia                                2
Cuba                                   1
Czech Republic                        10
Czechoslovakia                         4
Denmark                               41
Dominican Republic                     2
East Germany                           1
Ecuador                                2
Egypt                                  3
Estonia                                1
Federal Republic of Yugoslavia         2
Finland                               17
France                               497
Germany                              173
Greece                                 3
                                    ...
Paraguay                               1
Peru                                   3
Philippines                            2
Poland                                13
Portugal                               4
Romania                                9
Russia                                14
Saudi Arabia                           1
Senegal                                1
Serbia                                 4
Singapore                              1
Slovakia                               1
South Africa                           8
South Korea                           42
Soviet Union                          18
Spain                                142
Sweden                                64
Switzerland                           10
Taiwan                                 7
Thailand                               6
The Democratic Republic Of Congo       1
Turkey                                 8
UK                                   913
USA                                 4777
Ukraine                                2
United Arab Emirates                   2
Venezuela                              1
Vietnam                                1
West Germany                          25
Yugoslavia                             2
Length: 83, dtype: int64

In [13]:
df = countrygroups.filter(['imdbRating', 'rating'])

In [14]:
df

                                  imdbRating    rating
Single_Country
Argentina                           6.931818  2.454545
Australia                           6.550617  2.395062
Austria                             7.105556  2.052632
Bahamas                             5.950000  2.000000
Belgium                             6.961905  2.095238
Bosnia and Herzegovina              7.300000  3.000000
Brazil                              6.992593  2.214286
Bulgaria                            7.233333  1.000000
Burkina Faso                        6.900000  1.000000
Cameroon                            7.500000  3.000000
Canada                              6.414286  2.337900
Chile                               6.770000  2.100000
China                               6.665909  2.181818
Colombia                            7.433333  1.666667
Costa Rica                          6.000000  3.000000
Croatia                             6.900000  1.000000
Cuba                                7.600000  3.000000
Czech Republic                      6.790000  2.100000
Czechoslovakia                      7.500000  1.750000
Denmark                             7.039024  1.804878
Dominican Republic                  6.150000  3.000000
East Germany                        6.500000  2.000000
Ecuador                             6.550000  3.000000
Egypt                               6.866667  2.666667
Estonia                             8.200000  0.000000
Federal Republic of Yugoslavia      8.100000  2.000000
Finland                             6.705882  1.705882
France                              6.881489  1.937626
Germany                             6.733526  2.248555
Greece                              6.633333  3.000000
...                                      ...       ...
Paraguay                            7.000000  3.000000
Peru                                6.900000  2.666667
Philippines                         5.850000  1.500000
Poland                              6.700000  2.076923
Portugal                            7.000000  3.000000
Romania                             7.000000  1.888889
Russia                              6.550000  1.642857
Saudi Arabia                        7.500000  3.000000
Senegal                             7.500000  3.000000
Serbia                              6.833333  3.000000
Singapore                           8.000000  3.000000
Slovakia                            7.400000  2.000000
South Africa                        6.550000  2.250000
South Korea                         7.223810  2.380952
Soviet Union                        8.172222  1.388889
Spain                               6.685816  2.225352
Sweden                              7.210938  2.109375
Switzerland                         6.850000  2.000000
Taiwan                              6.700000  2.285714
Thailand                            7.016667  1.666667
The Democratic Republic Of Congo    6.200000  3.000000
Turkey                              7.512500  1.875000
UK                                  6.824312  2.156627
USA                                 6.552767  2.180448
Ukraine                             6.350000  2.000000
United Arab Emirates                6.150000  3.000000
Venezuela                           7.700000  3.000000
Vietnam                             5.400000  0.000000
West Germany                        7.252000  2.040000
Yugoslavia                          6.500000  2.500000

[83 rows x 2 columns]

In [15]:
df.sort_values('rating')

                                  imdbRating    rating
Single_Country
Jamaica                             7.000000  0.000000
Estonia                             8.200000  0.000000
Vietnam                             5.400000  0.000000
Indonesia                           7.600000  0.000000
Palestine                           7.500000  1.000000
Bulgaria                            7.233333  1.000000
Burkina Faso                        6.900000  1.000000
Croatia                             6.900000  1.000000
Soviet Union                        8.172222  1.388889
Hungary                             7.096667  1.433333
Philippines                         5.850000  1.500000
Lebanon                             7.900000  1.500000
Russia                              6.550000  1.642857
Colombia                            7.433333  1.666667
Thailand                            7.016667  1.666667
Finland                             6.705882  1.705882
Netherlands                         6.672414  1.724138
Czechoslovakia                      7.500000  1.750000
New Zealand                         7.000000  1.766667
Israel                              6.868421  1.789474
Denmark                             7.039024  1.804878
Hong Kong                           6.786792  1.830189
Turkey                              7.512500  1.875000
Romania                             7.000000  1.888889
France                              6.881489  1.937626
Norway                              6.740909  1.954545
Italy                               7.011382  1.991870
Lithuania                           6.200000  2.000000
Iceland                             6.512500  2.000000
Slovakia                            7.400000  2.000000
...                                      ...       ...
Taiwan                              6.700000  2.285714
Canada                              6.414286  2.337900
South Korea                         7.223810  2.380952
India                               7.469643  2.385965
Australia                           6.550617  2.395062
Argentina                           6.931818  2.454545
Yugoslavia                          6.500000  2.500000
Malta                               6.900000  2.500000
Egypt                               6.866667  2.666667
Peru                                6.900000  2.666667
Bosnia and Herzegovina              7.300000  3.000000
Venezuela                           7.700000  3.000000
United Arab Emirates                6.150000  3.000000
Cameroon                            7.500000  3.000000
Costa Rica                          6.000000  3.000000
Cuba                                7.600000  3.000000
Dominican Republic                  6.150000  3.000000
The Democratic Republic Of Congo    6.200000  3.000000
Ecuador                             6.550000  3.000000
Saudi Arabia                        7.500000  3.000000
Greece                              6.633333  3.000000
Malaysia                            7.200000  3.000000
Mali                                6.700000  3.000000
Martinique                          6.300000  3.000000
Paraguay                            7.000000  3.000000
Singapore                           8.000000  3.000000
Serbia                              6.833333  3.000000
Senegal                             7.500000  3.000000
Portugal                            7.000000  3.000000
Kenya                               6.900000  3.000000

[83 rows x 2 columns]