In [25]:
import pandas as pd
import numpy as np

In [27]:
df = pd.read_csv("primary_merge.csv")
df.head()

,Unnamed: 0_x,Actors,Awards,BoxOffice,Country,DVD,Director,Episode,Error,Genre,...,imdbRating,imdbVotes,seriesID,totalSeasons,Unnamed: 0_y,id,imdbid,rating,title,year
0,0,"Charlize Theron, Christina Ricci, Bruce Dern, ...",Won 1 Oscar. Another 29 wins & 25 nominations.,"$34,187,787","Germany, USA",01 Jun 2004,Patty Jenkins,NaN,NaN,"Biography, Crime, Drama, Thriller",...,7.3,"123,001",NaN,NaN,3591,271,340855,3,Monster,2003
1,1,"Devon Alan, Laura Harris, Zooey Deschanel, Mar...",1 nomination.,NaN,"Canada, USA",NaN,Marcel Sarmiento,NaN,NaN,NaN,...,6.6,31,NaN,NaN,3592,3137,339882,1,It&#39;s Better to Be Wanted for Murder Than N...,2003
2,2,"Halle Berry, Robert Downey Jr., Charles S. Dut...",3 wins & 7 nominations.,"$59,537,388","USA, France, Canada, Spain",23 Mar 2004,Mathieu Kassovitz,NaN,NaN,"Horror, Mystery, Thriller",...,5.8,"99,552",NaN,NaN,3593,5360,348836,3,Gothika,2003
3,3,"Sean Connery, Naseeruddin Shah, Peta Wilson, T...",12 nominations.,"$66,327,144","USA, Germany, Czech Republic, UK",16 Dec 2003,Stephen Norrington,NaN,NaN,"Action, Adventure, Fantasy, Sci-Fi",...,5.8,"156,033",NaN,NaN,3594,2097,311429,0,"League of Extraordinary Gentlemen, The",2003
4,4,"Pamela Anderson, Jenny McCarthy, Marny Eng, Ch...",2 wins & 4 nominations.,NaN,"USA, Canada",11 May 2004,David Zucker,NaN,NaN,Comedy,...,5.5,"126,494",NaN,NaN,3595,325,306047,3,Scary Movie 3,2003

In [30]:
#SHartje's Edits start here
#Fixing characters that were messed up when data was pulled, merged, etc.

#Create a list of the column headings
Titles = list(df)

#Cycle through the list of column headings and convert each column from iso-8859-1 to utf-8
for Title in Titles:
    try:
        df[Title] = df[Title].str.decode('iso-8859-1').str.encode('utf-8')
    except:
        df[Title] = df[Title]

#display the dataframe to check 
df.head(30)

,Unnamed: 0_x,Actors,Awards,BoxOffice,Country,DVD,Director,Episode,Error,Genre,...,imdbRating,imdbVotes,seriesID,totalSeasons,Unnamed: 0_y,id,imdbid,rating,title,year
0,0,"Charlize Theron, Christina Ricci, Bruce Dern, ...",Won 1 Oscar. Another 29 wins & 25 nominations.,"$34,187,787","Germany, USA",01 Jun 2004,Patty Jenkins,NaN,NaN,"Biography, Crime, Drama, Thriller",...,7.3,"123,001",NaN,NaN,3591,271,340855,3,Monster,2003
1,1,"Devon Alan, Laura Harris, Zooey Deschanel, Mar...",1 nomination.,NaN,"Canada, USA",NaN,Marcel Sarmiento,NaN,NaN,NaN,...,6.6,31,NaN,NaN,3592,3137,339882,1,It&#39;s Better to Be Wanted for Murder Than N...,2003
2,2,"Halle Berry, Robert Downey Jr., Charles S. Dut...",3 wins & 7 nominations.,"$59,537,388","USA, France, Canada, Spain",23 Mar 2004,Mathieu Kassovitz,NaN,NaN,"Horror, Mystery, Thriller",...,5.8,"99,552",NaN,NaN,3593,5360,348836,3,Gothika,2003
3,3,"Sean Connery, Naseeruddin Shah, Peta Wilson, T...",12 nominations.,"$66,327,144","USA, Germany, Czech Republic, UK",16 Dec 2003,Stephen Norrington,NaN,NaN,"Action, Adventure, Fantasy, Sci-Fi",...,5.8,"156,033",NaN,NaN,3594,2097,311429,0,"League of Extraordinary Gentlemen, The",2003
4,4,"Pamela Anderson, Jenny McCarthy, Marny Eng, Ch...",2 wins & 4 nominations.,NaN,"USA, Canada",11 May 2004,David Zucker,NaN,NaN,Comedy,...,5.5,"126,494",NaN,NaN,3595,325,306047,3,Scary Movie 3,2003
5,5,"Sylvie Testud, Kaori Tsuji, TarÃ´ Suwa, Bison K...",5 wins & 2 nominations.,NaN,"France, Japan",06 Sep 2005,Alain Corneau,NaN,NaN,"Comedy, Drama",...,7.1,"3,964",NaN,NaN,3596,5422,318725,3,Stupeur et Tremblements,2003
6,6,"Eric Bana, Jennifer Connelly, Sam Elliott, Jos...",3 wins & 14 nominations.,"$132,122,995",USA,28 Oct 2003,Ang Lee,NaN,NaN,"Action, Sci-Fi",...,5.7,"237,314",NaN,NaN,3597,3227,286716,1,Hulk,2003
7,7,"Tony Saba, Lionnel Astier, Thomas Cousseau, Al...",1 win & 1 nomination.,NaN,France,NaN,Alexandre Astier,NaN,NaN,"Comedy, Short",...,8.3,402,NaN,NaN,3598,5430,406709,0,Dies irae,2003
8,8,"Jack Nicholson, Diane Keaton, Keanu Reeves, Fr...",Nominated for 1 Oscar. Another 7 wins & 12 nom...,"$121,400,000",USA,30 Mar 2004,Nancy Meyers,NaN,NaN,"Comedy, Drama, Romance",...,6.7,"102,183",NaN,NaN,3599,2500,337741,3,Something&#39;s Gotta Give,2003
9,9,"Hayden Christensen, Peter Sarsgaard, ChloÃ« Sev...",Nominated for 1 Golden Globe. Another 11 wins ...,"$2,105,024","USA, Canada",23 Mar 2004,Billy Ray,NaN,NaN,"Drama, History",...,7.2,"31,459",NaN,NaN,3600,2521,323944,2,Shattered Glass,2003
10,10,"Ellen Muth, Callum Blue, Jasmine Guy, Mandy Pa...",Nominated for 2 Primetime Emmys. Another 6 nom...,NaN,"Canada, USA",NaN,NaN,NaN,NaN,"Comedy, Drama, Fantasy",...,8.1,"37,697",NaN,2.0,3601,2167,348913,3,Dead Like Me,2003
11,11,"Angelina Jolie, Gerard Butler, CiarÃ¡n Hinds, C...",1 win & 3 nominations.,"$65,700,000","USA, Germany, Japan, UK, Hong Kong",18 Nov 2003,Jan de Bont,NaN,NaN,"Action, Adventure, Fantasy",...,5.5,"120,580",NaN,NaN,3602,411,325703,3,Lara Croft Tomb Raider: The Cradle of Life,2003
12,12,"Sara Downing, Amy Parks, Bailey Chase, Michael...",NaN,NaN,USA,18 Mar 2003,Tibor TakÃ¡cs,NaN,NaN,"Horror, Sci-Fi, Thriller",...,3.5,938,NaN,NaN,3603,1473,277986,3,Rats,2003
13,13,"Michael Caine, Robert Duvall, Haley Joel Osmen...",1 win & 6 nominations.,"$41,407,470",USA,03 Feb 2004,Tim McCanlies,NaN,NaN,"Comedy, Drama, Family",...,7.6,"48,020",NaN,NaN,3604,2890,327137,1,Secondhand Lions,2003
14,14,"Desmond Harrington, Eliza Dushku, Emmanuelle C...",3 nominations.,"$15,176,515","USA, Germany",14 Oct 2003,Rob Schmidt,NaN,NaN,Horror,...,6.1,"100,007",NaN,NaN,3605,3645,295700,3,Wrong Turn,2003
15,15,"John Cusack, Gene Hackman, Dustin Hoffman, Rac...",3 nominations.,"$49,238,110",USA,17 Feb 2004,Gary Fleder,NaN,NaN,"Crime, Drama, Thriller",...,7.1,"85,077",NaN,NaN,3606,45,313542,1,Runaway Jury,2003
16,16,"Tony Jaa, Petchtai Wongkamlao, Pumwaree Yodkam...",2 wins & 5 nominations.,"$3,875,926",Thailand,30 Aug 2005,Prachya Pinkaew,NaN,NaN,"Action, Crime, Thriller",...,7.2,"67,104",NaN,NaN,3607,5141,368909,0,Ong-bak,2003
17,17,"Reese Witherspoon, Sally Field, Regina King, J...",3 wins & 4 nominations.,"$89,808,372",USA,29 Aug 2006,Charles Herman-Wurmfeld,NaN,NaN,Comedy,...,4.7,"55,630",NaN,NaN,3608,1858,333780,3,"Legally Blonde 2: Red, White &amp; Blonde",2003
18,18,"Mark Aisbett, Ashton Kutcher, Jon Abrahams, Ta...",4 nominations.,NaN,USA,03 Feb 2004,David Zucker,NaN,NaN,"Comedy, Romance",...,4.7,"26,654",NaN,NaN,3609,5503,270980,3,My Boss&#39;s Daughter,2003
19,19,"Eddie Murphy, Jeff Garlin, Steve Zahn, Regina ...",1 win & 6 nominations.,"$103,600,000",USA,23 Sep 2003,Steve Carr,NaN,NaN,"Comedy, Family",...,5.6,"57,733",NaN,NaN,3610,3700,317303,3,Daddy Day Care,2003
20,20,"Patrick Stewart, Hugh Jackman, Ian McKellen, H...",6 wins & 41 nominations.,"$214,813,155","Canada, USA",25 Nov 2003,Bryan Singer,NaN,NaN,"Action, Adventure, Sci-Fi, Thriller",...,7.5,"473,459",NaN,NaN,3611,102,290334,3,X2 (X-Men 2),2003
21,21,"Tommy Wiseau, Juliette Danielle, Greg Sestero,...",1 win.,NaN,USA,17 Dec 2005,Tommy Wiseau,NaN,NaN,Drama,...,3.7,"70,323",NaN,NaN,3612,837,368226,3,"Room, The",2003
22,22,"David Hewlett, Andrew Miller, Gordon Pinsent, ...",2 wins & 3 nominations.,NaN,Canada,25 Oct 2005,Vincenzo Natali,NaN,NaN,"Comedy, Fantasy",...,6.2,"5,538",NaN,NaN,3613,1541,298482,0,Nothing,2003
23,23,"Russell Crowe, Paul Bettany, James D'Arcy, Edw...",Won 2 Oscars. Another 21 wins & 90 nominations.,"$92,100,000",USA,20 Apr 2004,Peter Weir,NaN,NaN,"Action, Adventure, Drama, History, War",...,7.4,"188,110",NaN,NaN,3614,841,311113,0,Master and Commander: The Far Side of the World,2003
24,24,"Colin Firth, Scarlett Johansson, Tom Wilkinson...",Nominated for 3 Oscars. Another 17 wins & 41 n...,"$11,505,906","UK, Luxembourg",04 May 2004,Peter Webber,NaN,NaN,"Biography, Drama, Romance",...,6.9,"67,625",NaN,NaN,3615,2957,335119,3,Girl with a Pearl Earring,2003
25,25,"Antonio Banderas, Carla Gugino, Alexa PenaVega...",3 wins & 3 nominations.,NaN,USA,24 Feb 2004,Robert Rodriguez,NaN,NaN,"Action, Adventure, Comedy, Family, Sci-Fi",...,4.2,"48,680",NaN,NaN,3616,1906,338459,3,Spy Kids 3-D: Game Over,2003
26,26,"Eva LÃ¶bau, Daniela Holtz, Jan Neumann, Ilona S...",6 wins & 3 nominations.,NaN,Germany,28 Mar 2006,Maren Ade,NaN,NaN,"Comedy, Drama",...,7.3,"1,330",NaN,NaN,3617,4829,386862,3,"Forest for the Trees, The",2003
27,27,"Jackie Chan, Owen Wilson, Aaron Taylor-Johnson...",4 nominations.,"$60,447,592","USA, Hong Kong",15 Jul 2003,David Dobkin,NaN,NaN,"Action, Adventure, Comedy",...,6.2,"93,283",NaN,NaN,3618,123,300471,1,Shanghai Knights,2003
28,28,"Johnny Depp, Geoffrey Rush, Orlando Bloom, Kei...",Nominated for 5 Oscars. Another 36 wins & 96 n...,"$305,343,252",USA,02 Dec 2003,Gore Verbinski,NaN,NaN,"Action, Adventure, Fantasy",...,8.0,"955,774",NaN,NaN,3619,510,325980,3,Pirates of the Caribbean: The Curse of the Bla...,2003
29,29,"Sean Penn, Naomi Watts, Danny Huston, Carly Nahon",Nominated for 2 Oscars. Another 30 wins & 76 n...,"$16,162,920",USA,16 Mar 2004,Alejandro G. IÃ±Ã¡rritu,NaN,NaN,"Crime, Drama, Thriller",...,7.7,"211,464",NaN,NaN,3620,4845,315733,3,21 grams,2003